<!-- Categories Area Start -->
<section class="jobguru-categories-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="site-heading">
                <h2>top Trending <span>Categories</span></h2>
                <p>A better career is out there. We'll help you find it. We're your first step to becoming everything you want to be.</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
             <a href="#" class="single-category-holder account_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-briefcase"></i>
                </div>
                <div class="category-holder-text">
                   <h3>Accounting & Finance</h3>
                </div>
                <img src="{{asset('assets/img/account_cat.jpg')}}" alt="category" />
             </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
             <a href="#" class="single-category-holder design_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-pencil-square-o"></i>
                </div>
                <div class="category-holder-text">
                   <h3>Design, Art & Multimedia</h3>
                </div>
                <img src="{{asset('assets/img/design_art.jpg')}}" alt="category" />
             </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
             <a href="#" class="single-category-holder restaurant_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-cutlery"></i>
                </div>
                <div class="category-holder-text">
                   <h3>Restaurant / Food Service</h3>
                </div>
                <img src="{{asset('assets/img/restaurent.jpg')}}" alt="category" />
             </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
             <a href="#" class="single-category-holder tech_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-code"></i>
                </div>
                <div class="category-holder-text">
                   <h3>Programming & Tech</h3>
                </div>
                <img src="{{asset('assets/img/programing_cat.jpg')}}" alt="category" />
             </a>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
             <a href="#" class="single-category-holder data_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-bar-chart"></i>
                </div>
                <div class="category-holder-text">
                   <h3>Data Science & Analitycs</h3>
                </div>
                <img src="{{asset('assets/img/data_cat.png')}}" alt="category" />
             </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
             <a href="#" class="single-category-holder writing_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-pencil"></i>
                </div>
                <div class="category-holder-text">
                   <h3>Writing / Translations</h3>
                </div>
                <img src="{{asset('assets/img/writing_cat.jpg')}}" alt="category" />
             </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
             <a href="#" class="single-category-holder edu_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="category-holder-text">
                   <h3>Education / Training</h3>
                </div>
                <img src="{{asset('assets/img/edu_cat.jpg')}}" alt="category" />
             </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
             <a href="#" class="single-category-holder sale_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-bullhorn"></i>
                </div>
                <div class="category-holder-text">
                   <h3>sales / marketing</h3>
                </div>
                <img src="{{asset('assets/img/sale_cat.png')}}" alt="category" />
             </a>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="load-more">
                <a href="#" class="jobguru-btn">browse all categories</a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Categories Area End -->