<div class="header-menu">
    <nav id="navigation">
       <ul id="jobguru_navigation">
          <li class="active has-children">
             <a href=" {{ url('homepage') }}">home</a>
          </li>
          <li class=" has-children">
             <a href="{{ url('job') }}">for candidates</a>
          </li>
          <li class="has-children">
             <a href="#">for employers</a>
          </li>
          <li class="has-children">
             <a href="#">pages</a>
          </li>
       </ul>
    </nav>
 </div>