
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="jobguru | Job Board HTML Templates from Themescare">
        <meta name="keyword" content="Job, freelancer, employee, marketplace">
        <meta name="author" content="Themescare">
        
        <link rel="icon" type="image/png" sizes="32x32" href= "{{ asset('assets/img/favicon/favicon-32x32.png') }}">
 
        
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
               
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('/css/magnific-popup.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/css/slicknav.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/css/perfect-scrollbar.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        
        
    </head>
    <body>
               <!-- Header Area Start -->
      
      {% block head %} 
      <header class="jobguru-header-area stick-top forsticky">  
        <div class="menu-animation">
           <div class="container-fluid">
              <div class="row">
                 <div class="col-lg-2">
                    <div class="site-logo">
                       <a href="{{ url('homepage') }}">
                       <img src="assets/img/logo.png" alt="jobguru" class="non-stick-logo" />
                       <img src="assets/img/logo-2.png" alt="jobguru" class="stick-logo" />
                       </a>
                    </div>
                    <!-- Responsive Menu Start -->
                    <div class="jobguru-responsive-menu"></div>
                    <!-- Responsive Menu Start -->
                 </div>
                 <div class="col-lg-6">
                    {% include 'partials/menu.html.twig'%}
                 </div>
                 <div class="col-lg-4">
                    <div class="header-right-menu">
                       <ul>
                          <li><a href="post-job.html" class="post-jobs">Post jobs</a></li>
                          <li><a href="register.html"><i class="fa fa-user"></i>sign up</a></li>
                          <li><a href="login.html"><i class="fa fa-lock"></i>login</a></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </header>
     <!-- Header Area End -->
     {% endblock %}


        {% block body %}
     
        {% endblock %}

         <!-- Footer Area Start -->
      <footer class="jobguru-footer-area">
        <div class="footer-top section_50">
           <div class="container">
              <div class="row">
                 <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                       <div class="footer-logo">
                          <a href="index.html">
                          <img src="assets/img/logo.png" alt="jobguru logo" />
                          </a>
                       </div>
                       <p>Aliquip exa consequat dui aut repahend vouptate elit cilum fugiat pariatur lorem dolor cit amet consecter adipisic elit sea vena eiusmod nulla</p>
                       <ul class="footer-social">
                          <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#" class="skype"><i class="fa fa-skype"></i></a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                       <h3>recent post</h3>
                       <div class="latest-post-footer clearfix">
                          <div class="latest-post-footer-left">
                             <img src="assets/img/footer-post-2.jpg" alt="post" />
                          </div>
                          <div class="latest-post-footer-right">
                             <h4><a href="#">Website design trends for 2018</a></h4>
                             <p>January 14 - 2018</p>
                          </div>
                       </div>
                       <div class="latest-post-footer clearfix">
                          <div class="latest-post-footer-left">
                             <img src="assets/img/footer-post-3.jpg" alt="post" />
                          </div>
                          <div class="latest-post-footer-right">
                             <h4><a href="#">UI experts and modern designs</a></h4>
                             <p>January 12 - 2018</p>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                       <h3>main links</h3>
                       <ul>
                          <li><a href="#"><i class="fa fa-angle-double-right "></i> About jobguru</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right "></i> Delivery Information</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right "></i> Terms & Conditions</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right "></i> Customer support</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right "></i> Contact with an expert</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right "></i> community updates</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right "></i> upcoming updates</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget footer-contact">
                       <h3>Contact Info</h3>
                       <p><i class="fa fa-map-marker"></i> 4257 Street, SunnyVale, USA </p>
                       <p><i class="fa fa-phone"></i> 012-3456-789</p>
                       <p><i class="fa fa-envelope-o"></i> info@jobguru.com</p>
                       <p><i class="fa fa-envelope-o"></i> info@jobguru.com</p>
                       <p><i class="fa fa-fax"></i> 112-3456-7898</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="footer-copyright">
           <div class="container">
              <div class="row">
                 <div class="col-lg-12">
                    <div class="copyright-left">
                       <p>Copyright &copy; 2018 Themescare. All Rights Reserved</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
     <!-- Footer Area End -->

        {% block javascripts %}

        {% endblock %}

        <!--Jquery js-->
        <script src=" {{ asset('assets/js/jquery-3.0.0.min.js')}}"></script>
        <!--Popper js-->
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <!--Bootstrap js-->
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <!--Bootstrap Datepicker js-->
        <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
        <!--Perfect Scrollbar js-->
        <script src="{{ asset('assets/js/jquery-perfect-scrollbar.min.js') }}"></script>
        <!--Owl-Carousel js-->
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
        <!--SlickNav js-->
        <script src="{{ asset('assets/js/jquery.slicknav.min.js') }}"></script>
        <!--Magnific js-->
        <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
        <!--Select2 js-->
        <script src="{{ asset('assets/js/select2.min.js') }}"></script>
        <!--jquery-ui js-->
        <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
        <!--Main js-->
        <script src="{{ asset('assets/js/main.js') }}"></script>
      
    </body>
</html>
