{% extends 'base.html.twig' %} 

      {% block head %} 
      <header class="jobguru-header-area stick-top forsticky page-header">  
        <div class="menu-animation">
           <div class="container-fluid">
              <div class="row">
                 <div class="col-lg-2">
                    <div class="site-logo">
                       <a href="{{ url('homepage') }}">
                        <img src="assets/img/logo-2.png" alt="jobguru" />
                       </a>
                    </div>
                    <!-- Responsive Menu Start -->
                    <div class="jobguru-responsive-menu"></div>
                    <!-- Responsive Menu Start -->
                 </div>
                 <div class="col-lg-6">
                    {% include 'partials/menu.html.twig' %}
                 </div>
                 <div class="col-lg-4">
                    <div class="header-right-menu">
                       <ul>
                          <li><a href="post-job.html" class="post-jobs">Post jobs</a></li>
                          <li><a href="register.html"><i class="fa fa-user"></i>sign up</a></li>
                          <li><a href="login.html"><i class="fa fa-lock"></i>login</a></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </header>
     <!-- Header Area End -->
     {% endblock %}